body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:666px;
}
#u63 {
  position:absolute;
  left:0px;
  top:-20px;
  width:375px;
  height:666px;
}
#u64 {
  position:absolute;
  left:2px;
  top:325px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:0px;
  top:436px;
  width:375px;
  height:54px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u66 {
  position:absolute;
  left:306px;
  top:0px;
  width:69px;
  height:45px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u67 {
  position:absolute;
  left:4px;
  top:598px;
  width:66px;
  height:45px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u68 {
  position:absolute;
  left:106px;
  top:598px;
  width:65px;
  height:45px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u69 {
  position:absolute;
  left:206px;
  top:598px;
  width:65px;
  height:45px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u70 {
  position:absolute;
  left:309px;
  top:598px;
  width:65px;
  height:45px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
