body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:666px;
}
#u13 {
  position:absolute;
  left:0px;
  top:-20px;
  width:375px;
  height:666px;
}
#u14 {
  position:absolute;
  left:2px;
  top:325px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:120px;
  top:300px;
  width:140px;
  height:38px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u16 {
  position:absolute;
  left:138px;
  top:391px;
  width:102px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u17 {
  position:absolute;
  left:59px;
  top:450px;
  width:260px;
  height:46px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u18 {
  position:absolute;
  left:158px;
  top:513px;
  width:102px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
